{{define "title"}}
    {{ .TitleHome }}
 {{end}}

 {{define "body"}}
    <h1>{{template "title" .}}</h1>
    {{if not .LoggedIn}}
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
    {{else}}
        <a href="/logout">Logout</a>
        <form action="/post" method="POST">
            <input type="hidden" name="id" value="{{.UUID}}"/>
            <input name ="title"/><br/>
            <textarea name="content"></textarea><br/>
            <label>Draft <input type="checkbox" name="draft" checked /></label><br/>
            <button type="submit">Submit</button>
        </form>
    {{end}}
    <h2>Posts:</h2>
    <div>
        {{ range .Posts }}
        <div>
            {{ if or ($.LoggedIn) (not .Draft) }}
                <h2><a href="/posts/{{ .ID }}">{{ .Title }}</a></h2>

                <em>By {{ .Author }} on {{ .CreatedAt }}</em>
                <p>
                    {{ .Content }}
                </p>
                {{ if .Draft }}
                    <label>Draft <input type="checkbox" name="draft" checked disabled /></label><br/>
                {{ end }}
                </div>
            {{end}}
        {{ end }}
    </div>
{{end}}
